### Scholarships and Awards

- 2020 International Major Entrance Scholarhip for Javier Perez Tobia
- 2020 Deputy Vice-Chancellor Scholarship for International Students for Javier Perez Tobia
- 2020 The Faculty of Science International Student Award for Javier Perez Tobia
- 2020 Deputy Vice-Chancellor Scholarship for International Students for Keith Nicholas
- 2020 University Graduate Fellowship for Pradeep Mahato
- 2020 Special University of British Columbia Graduate Award for Debangsha Sarkar
- 2020 International Masters Student Award 2020 for Ramashish Gaurav