<footer class="footer">
  <div class="container">
  <div class="columns">
    <div class="column">
      <div class="content">
        <h4 class="title is-4">Contact</h4>
        <b>Apurva Narayan</b><br>
        <i>Assistant Professor</i><br> <a target="_blank" href="https://cmps.ok.ubc.ca/">Department of Computer Science</a><br>University of British Columbia</p>
        <i>Associate Faculty</i><br> <a target="_blank" href="https://engineering.ok.ubc.ca/">School of Engineering</a><br>University of British Columbia</p>
        <i>Adjunct Assistant Professor</i><br> <a target="_blank" href="https://uwaterloo.ca/systems-design-engineering/">Department of Systems Design Engineering</a><br>University of Waterloo</p>
        <b>Phone:</b><br>  +1 250.807.8272 <br>
        <b>Emails: </b><br> apurva.narayan@ubc.ca, apurva.narayan@uwaterloo.ca <br>
        <b>Office:</b><br> SCI - 110 <br>
        <b>Address: </b><br>1177 Research Rd, Kelowna, BC  V1V 1V7
      </div>
    </div>    
    <div class="column">
      <div class="content">
        <h4 class="title is-4">Navigation</h4>
          <ul itemprop="WebPageElement" itemscope itemtype="http://schema.org/SiteNavigationElement" class="list-nomargin footer-list no-deco" style="list-style-type: circle;">
          <li itemprop="name"><a itemprop="url" class="navbar-item" href="{{ site.baseurl }}/">
            <b>Home</b>
          </a></li>
          {% for link in site.data.pages %}
            {% if link.url %}
              <li itemprop="name"><a itemprop="url" class="footer-navbar-item" href="{{link.url}}/"> 
                {{ link.name }}
              </a></li>
            {% else %}
              <li itemprop="name"><a itemprop="url" class="footer-navbar-item" href="{{ site.baseurl }}/{{ link.name | downcase }}/"> 
                {{ link.name }}
              </a></li>
            {% endif %}
          {% endfor %}
          <ul>
      </div>
    </div>
    <div class="column">
      <h1 class="title is-spaced is-4 has-text-darkblue very-bold"><img src= "{{ site.base_url }}/assets/img/favicon.ico" width="20" height="20"></img> UBC <b>IDSL</b></h1>

      <h3 class="subtitle is-spaced is-5"><b>Intelligent Data Science Lab</b>
        <br>Research Group of Apurva Narayan at the University of British Columbia (UBC) and the University of Waterloo (UW).
      </h3>

      <p>
        All Rights Reserved. Source Code on <a target="_blank" href="https://github.com/a-narayan/a-narayan.github.io">GitHub</a>.
      </p>      
    </div>    
  </div>
</div>
</footer>
