<p class="title is-3 is-spaced very-bold">Welcome to <span class="has-text-darkblue"><img src= "{{ site.base_url }}/assets/img/favicon.ico" width="25" height="25"></img> IDSL</span></p>
<p class="subtitle is-5">We develop novel <b>algorithms</b> and <b>machine learning models</b> to solve complex problems in the fields of data science and artificial intelligence.</p>

<section>
  <div class="columns is-multiline">
    <div class="column is-one-fifth is-full-tablet">
      <figure class="image is-pulled-right is-128x128">
        <a href="{{ site.baseurl }}/about/"><img alt="bhushan gopaluni process control data analytics dais ubc" title="Apurva Narayan" class="is-rounded" style="height: 100%; object-fit: cover;" src="{{ site.baseurl }}/assets/profile/apurva.jpg"></a>
      </figure>
    </div> 
    <div class="column">   
      <div class="content">
        <blockquote><p><b>Dr. Apurva Narayan</b> leads the IDSL research group. He is an assistant professor in the Department of Computer Science at Western University and affiliate assistant professor in the Department of Computer Science and School of Engineering at the University of British Columbia, as well as an adjunct assistant professor in the Department of Systems Design Engineering at the University of Waterloo (UW).<br>
          <a href="https://www.linkedin.com/in/apurva-narayan-44308b17/"><img src="https://img.icons8.com/material-outlined/24/000000/linkedin--v1.png"></a>
          <a href="https://scholar.google.ca/citations?user=e5OCZ1cAAAAJ&hl=en"><img src="https://img.icons8.com/material-outlined/24/000000/google-scholar.png"></a>
          <a href="https://twitter.com/appu0507?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"><img src="https://img.icons8.com/ios-glyphs/24/000000/twitter--v1.png"></a><br>
          <a href="{{ site.baseurl }}/about/">Read More.</a></p></blockquote>
      </div>
    </div>
  </div>
</section>

<hr>

<p class="title is-4 very-bold">IDSL Research</p>
<p class="subtitle is-5">Our research bridges together <i>intelligent systems</i>, <i>data science</i>, <i>software engineering</i>, and <i>decision making under uncertainty</i>.</p>

<p class="is-5">Check out some of our recent publications in various domains:</p><br>

<div class="columns is-multiline is-mobile is-tablet">
  <div class="column is-half-tablet is-one-quarter-desktop is-half-mobile">
    <div class="card">
        <div class="card-image">
            <figure class="image is-square">
              <img alt="Data Analytics" title="Data Analytics" src="{{ site.baseurl }}/assets/img/da.png">
            </figure>
        </div>
        <footer class="card-footer">
            <p class="card-footer-item research-card-item">
              Data Analytics
            </p>
        </footer>
    </div>
  </div>
  <div class="column is-one-quarter-desktop is-half-mobile is-half-tablet">
    <div class="card">
        <div class="card-image">
            <figure class="image is-square">
              <img alt="software engineering" title="Software Engineering" src="{{ site.baseurl }}/assets/img/swe.png">
            </figure>
        </div>
        <footer class="card-footer">
            <p class="card-footer-item research-card-item">
              Software Engineering
            </p>
        </footer>
    </div>
  </div>  
  <div class="column is-one-quarter-desktop is-half-mobile is-half-tablet">
    <div class="card">
        <div class="card-image">
            <figure class="image is-square">
              <img alt="Deep Learning" title="Deep Learning" src="{{ site.baseurl }}/assets/img/ml.png">
            </figure>
        </div>
        <footer class="card-footer">
            <p class="card-footer-item research-card-item">
              Machine Learning
            </p>
        </footer>
    </div>
  </div>
  <div class="column is-one-quarter-desktop is-half-mobile is-half-tablet">
    <div class="card">
        <div class="card-image">
            <figure class="image is-square">
              <img alt="Probabilistic Robustness of AI" title="Probabilistic Robustness of AI" src="{{ site.baseurl }}/assets/img/ai.png">
            </figure>
        </div>
        <footer class="card-footer">
            <p class="card-footer-item research-card-item">
              Trustworthy and Safe AI
            </p>
        </footer>
    </div>
  </div>
</div>

<div class="content">

  {% include selected_pubs.html %}

  <h2>Research Themes</h2>

  <p> We are witnessing exponential advancements in development and deployment of IoT systems, smart infrastructures, and our dependency on these systems. The overall vision of IDSL is to develop tools that will help resolve software issues much faster, and advance toward better system safety, security, and resiliency. Automated reasoning of these systems play a key role in understanding system behavior, verification, run-time monitoring, anomaly detection, and intrusion detection.</p>
    
  <p>Computational research in the domain of data driven software engineering gets complicated with the amount of data that one needs to process to reach an outcome. IDSL conducts data mining, software engineering, and machine learning research with a focus on safety-critical software systems to ensure that modern day safety-critical systems are safe, secure, and resilient. Behavior of software systems is modelled using formal specifications. Formal specifications are used to develop monitoring systems that ensure system safety and security, debugging, program comprehension, and other software engineering applications. Verification of artificial intelligence based software that are beginning to be a new standard for a large number of safety-critical applications is shown to be a NP-complete problem</p>

  <p>We often collaborate with industry partners and other academic researchers for problem-solving in specific domains. For a list of our projects and collaborators, please visit our <a href="{{ site.baseurl }}/research/">Research</a> page:</p>

  <p>
    <a href="{{ site.baseurl }}/research/" class="button is-rounded is-info is-sans-serif"><i class="fas fa-microscope"></i>&nbsp; IDSL Research</a>
  </p>

</div>
