{% assign highlights = site.data.highlights | where:"display", "True" | sort: 'date' | reverse %}

{% for highlight in highlights %}
<article class="message is-small">
  <div class="message-header is-dark">
    <b><i class="fas fa-bullhorn"></i> Highlights - {{ highlight.date | date_to_long_string}}</b>
  </div>    
  <div class="message-body">
    {{ highlight.message }} <br>
    <strong><a href="{{ highlight.url }}">LINK</a></strong>
  </div>
</article>
{% endfor %}

<article class="message is-small">
  <div class="message-header">
    <p><i class="fas fa-calendar"></i> Book a Meeting</p>
  </div>
  <div class="message-body">
<!-- Calendly link widget begin -->
<link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
<script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript" async></script>
<a href="" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/apurvanarayan/30min?hide_event_type_details=1&hide_gdpr_banner=1'});return false;">Schedule time with me</a>
<!-- Calendly link widget end -->
  </div>
</article> 

<a class="twitter-timeline" data-width="250" data-height="350" data-theme="light" href="https://twitter.com/appu0507?ref_src=twsrc%5Etfw">Tweets by appu0507</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>  

<article class="message is-small">
  <div class="message-header">
    <p><i class="fas fa-newspaper"></i> News</p>
  </div>    
  <div class="message-body is-light">
    {% assign articles = site.news | sort: 'date' | reverse %}
    {% for news in articles limit: 2 %}
    <p class="sidebar-news-date">
      <small>{{ news.date | date_to_long_string}}</small><br>
      <i class="fas fa-arrow-right"></i> {% if news.url %}
      <a href="{{ news.url}}"><b>{{ news.title }}</b></a><br>
      {% else %}
      <b>{{ news.title }}</b><br>
      {% endif %}
      {{ news.description}}
    </p>
    {% endfor %}
    <br>
    <p class="small is-7"><a href="{{ site.baseurl }}/news/"><span class="icon"><i class="fa fa-arrow-circle-right"></i></span>See more</a></p>
  </div>
</article>  

<article class="message is-small">
  <div class="message-header is-dark">
    <p><i class="fas fa-users"></i> Recruitment</p>
  </div>
  <div class="message-body is-light">
    <p>Our group is recruiting year-round for postdocs, MASc and PhD students, visiting students and undergraduate students.</p>

    <p>All admitted students will receive a stipend.</p>

    <p>Please see our <a href="https://a-narayan.github.io/opportunities/">opportunities</a> page for more information.</p>
  </div>
</article>                            


<article class="message is-small">
  <div class="message-header">
    <p><i class="fas fa-envelope"></i> Contact</p>
  </div>
  <div class="message-body">
    <b>Apurva Narayan</b><br>
    <i>Assistant Professor</i><br> <a target="_blank" href="https://www.csd.uwo.ca//">Department of Computer Science & <a target="_blank" href="https://www.eng.uwo.ca/electrical//index.html">Department of Electrical and Computer Engineering</a><br>Western University</p>
    <i>Affiliate Assistant Professor</i><br> <a href="https://cmps.ok.ubc.ca/">Department of Computer Science</a></p>
    <i>Associate Faculty</i><br> <a href="https://engineering.ok.ubc.ca/">School of Engineering</a></p>
    <i>Adjunct Assistant Professor</i><br> <a href="https://uwaterloo.ca/systems-design-engineering/">Department of Systems Design Engineering</a></p>
    </p>
      <b>Phone:</b><br>  +1 519-661-2111 <br>
      <b>Emails: </b><br> apurva.narayan@uwo.ca, apurva.narayan@ubc.ca, apurva.narayan@uwaterloo.ca <br>
      <b>Office:</b><br> MC 368 <br>
      <b>Address: </b><br> 1151 Richmond St, London, ON N6A 3K7

  </div>
</article>                            
