{% assign highlights = site.data.highlights | where:"display", "True" | sort: 'date' | reverse %}

{% for highlight in highlights %}
<article class="message is-small">
  <div class="message-header is-dark">
    <b><i class="fas fa-bullhorn"></i> Highlights - {{ highlight.date | date_to_long_string}}</b>
  </div>    
  <div class="message-body">
    {{ highlight.message }} <br>
    <strong><a href="{{ highlight.url }}">LINK</a></strong>
  </div>
</article>
{% endfor %}

<article class="message is-small">
  <div class="message-header">
    <p><i class="fas fa-newspaper"></i> News</p>
  </div>    
  <div class="message-body is-light">
    {% assign articles = site.news | sort: 'date' | reverse %}
    {% for news in articles limit: 2 %}
    <p class="sidebar-news-date">
      <small>{{ news.date | date_to_long_string}}</small><br>
      <i class="fas fa-arrow-right"></i> {% if news.url %}
      <a href="{{ news.url}}"><b>{{ news.title }}</b></a><br>
      {% else %}
      <b>{{ news.title }}</b><br>
      {% endif %}
      {{ news.description}}
    </p>
    {% endfor %}
    <br>
    <p class="small is-7"><a href="{{ site.baseurl }}/news/"><span class="icon"><i class="fa fa-arrow-circle-right"></i></span>See more</a></p>
  </div>
</article>  

<article class="message is-small">
  <div class="message-header is-dark">
    <p><i class="fas fa-users"></i> Recruitment</p>
  </div>
  <div class="message-body is-light">
    <p>Our group is recruiting year-round for postdocs, MASc and PhD students, visiting students and undergraduate students.</p>

    <p>All admitted students will receive a stipend.</p>

    <p>If you're interested in pursuing research or graduate studies, please email a copy of your</p>
    <p>(1) CV, and <br>(2) Research Statement</p>
  </div>
</article>                            


<article class="message is-small">
  <div class="message-header">
    <p><i class="fas fa-envelope"></i> Contact</p>
  </div>
  <div class="message-body">
    <b>Apurva Narayan</b><br>
    <i>Assistant Professor</i><br> <a href="https://cmps.ok.ubc.ca/">Faculty of Computer Science</a></p>
    <i>Associate Faculty</i><br> <a href="https://engineering.ok.ubc.ca/">School of Engineering</a></p>
    <i>Adjunct Assistant Professor</i><br> <a href="https://uwaterloo.ca/systems-design-engineering/">Department of Systems Design Engineering</a></p>
    </p>
      <b>Phone:</b><br>  +1 250.807.8272 <br>
      <b>Emails: </b><br> apurva.narayan@ubc.ca, apurva.narayan@uwaterloo.ca <br>
      <b>Office:</b><br> SCI - 110 <br>
      <b>Address: </b><br>1177 Research Rd, Kelowna, BC  V1V 1V7
  </div>
</article>                            
